/* Base breaking styles */

/* The unbreakables */
h1, h2, h3, h4, h5, h6,
figure, img, video, audio, iframe, embed, object,
dt, dd {
	page-break-inside: avoid;
}

/* Breaking inside these should be possible, but only when really worth it */
pre, code, article, blockquote, aside, details, table {
	orphans: 3;
	widows: 4;
}

h1, h2, h3, h4, h5, h6,
[aria-level],
summary, legend, caption,
figcaption:where(:first-child) {
	/* Avoid breaking after headings and heading-like elements */
	page-break-after: avoid;
}

figcaption:where(:last-child) {
	page-break-before: avoid;
}

/* To be used when printing from the paginated view.
   We have already fragmented the content, so there should naturally be enough space,
   so this prevents issues where a tiny amount of overflow causes the UA to create a new page.
 */
@page paginated {
	margin-block-end: 0;
}

:where(:root).paginated {
	page: paginated;
}

.page,
.vfrag-page {
	& + & {
		page-break-before: always;
	}

	&:has(+ &) {
		page-break-after: always;
	}
}

[data-page] {
	/* A page */
	position: relative;

	&[data-page="1"] > .page-number {
		/* No page number in the first page */
		display: none;
	}

	> .page-number {
		position: absolute;
		bottom: 1lh;
		left: 50%;
		transform: translateX(-50%);
		font-weight: bold;
		font-size: 125%;
		line-height: 1;
		font-variant-numeric: diagonal-fractions;
		letter-spacing: .1em;
		text-decoration: none;
		color: inherit;

		&::after {
			content: "/" var(--pages);
			opacity: .6;
			font-weight: 300;
			font-size: 80%;
		}
	}

	&:is(.vfrag-debug, .vfrag-debug *) {
		outline: 1px solid red;

		/* Highlight areas that exceed page dimensions */
		background: canvas linear-gradient(hsl(0 50% 50% / 10%) 0% 100%) no-repeat 0 var(--target-page-height) / 100% 100%;

		&:where(.empty-space-m, .empty-space-l) {
			/* Highlight empty space */
			&::after {
				content: var(--empty-lines-text) " empty lines";
				flex: 1;
				box-sizing: border-box;
				padding: .5em;
				background:
					linear-gradient(to top, hsl(0 50% 50% / 50%) 1px, transparent 0) 0 0 / 100% 1lh,
					hsl(0 90% 50% / 10%);
			}
		}
	}
}
